{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<br>

<div class="content">
    <h2 class="title">Description</h2>
    <p>
        An Ordinary Day was created by Audrey Kintisch, Garcia Lu, Krystal Kim, and Ethan Foster for MIT's 2016 Hackathon, and has been continued by Audrey Kintisch.
    </p>

    <br>

    <h2 class="title">How to Play</h2>

    <p>
        You are walking along a path.  At every intersection, you must decide whether you will follow in others' footsteps or venture off of the trail.
        In order to trailblaze, however, you must first have an idea of where you are going.
        You must determine the location of the next intersection, any items found or used, and what happens along the trail.
        <br><br>
        Once you have created a path, it will be available as an action for others to take.
        If they so chose, they can create paths that branch off of yours, as you can do theirs'.
        <br><br>
        <strong style="color: red">
            Please be respectful of the trails: don't target others, curse, reveal personal information, or spam.
        </strong>
    </p>
</div>

{% endblock %}