<!DOCTYPE html>
<html>
<head>
    {% block headerinfo %}
    {% endblock %}
    <link href="/css/style.css" rel="stylesheet"/>
    <title>An Ordinary Day</title>
</head>

<body>

<div id="banner-wrapper">
    <a href="http://ordinarydaygame.appspot.com/"><h1 id="page-title">An Ordinary Day</h1></a>
    <p id="subtitle">Walk Your Own Path</p>
    <button class="frontpgbutton" onclick="location.href='http://ordinarydaygame.appspot.com/about';">
        About
    </button>

    <button class="frontpgbutton" onclick="location.href='http://ordinarydaygame.appspot.com/restart';">
        Restart
    </button>

    <button class="frontpgbutton">
        Braintree
    </button>
</div>

<br>
<br>
<br>
<br>
{% block content %}
{% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<footer id="footer">
    <a class="footer-link" href="http://ordinarydaygame.appspot.com/contact"> Contact </a>
    <a class="footer-link" href="http://ordinarydaygame.appspot.com/feedback"> Feedback </a>
</footer>

</body>

</html>