{% extends "base.html" %}

{% block content %}
<div id="event">
    {% if user.path %}
    <marquee id="displayed-path">
        {% for p in user.path %}
        {{ p }}
        {% endfor %}
    </marquee>
    {% endif %}
    <br>
    <br>


    <h2 class="title">{{ event.location }}</h2>
    <br>
    <div class="content">
        {{ parse_content(event.content) }}
    </div>
    <br>
    <div class="errormessage">{{error}}</div>
    <br>
    <div id="actions">
        <form method="POST">
            {% if event.child_events %}
            {% for e in event.child_events %}
            <input type="radio" name="next_event" value="{{e.key().id()}}">{{ e.action }}
            {% if e.item_needed %} | <strong> {{e.item_needed}} </strong> {% endif %}
            <br>
            <br>
            {% endfor %}
            {% endif %}
            <input type="radio" name="next_event" value="custom">Walk Your Own Path
            <br>
            <br>
            {% if event.user.key().id() == user.key().id() %}
            <input type="radio" name="next_event" value="edit">Edit your event
            <br>
            <br>
            {% endif %}
            <input type="submit" class="submitbutton" value="Act">
        </form>
    </div>
    <br>
    <br>
    <div class="title">
        Inventory:
    </div>
    <div id="inventory">
        {% for i in user.inventory %}
        <br>
        {{ i }}
        <br>
        {% endfor %}
    </div>
    <br>
</div>

{% endblock %}