{% extends "base.html" %}

{% block content %}
<h2 class="title">
    Welcome, {{ user.username }}.
</h2>

<div id="stats">
    <div id="path">
        <p class="title">Reflect on your path: </p>
        {% for l in user.path %}
        <p>{{ l }}</p>
        {% endfor %}
    </div>

    <div id="custom-trails">
        <p class="title">Trails you have forged:</p>
        {% for e in user.event_set %}
        <p><a href="/{{e.id_num}}">{{e.location}}<br>({{e.action}})</a></p>
        {% endfor %}
    </div>
</div>

<div id="welcome-inventory">
    <p class="title">Current inventory: </p>
    {% for i in user.inventory %}
    <p>{{ i }}</p>
    {% endfor %}
</div>

<br>
<br>
<form method="post">
    <input type="submit" value="Wake up." class="submitbutton">
</form>

{% endblock %}