<!DOCTYPE html>
<html>
    <head>
        <h1>Sign Up:</h1>
    </head>

    <body>
      {{username}}
      <br>
      {{email}}
      <br>
      {{password}}
      <br>
        <form method="POST">
            <label> Username:
                <input type="text" name="username" value="{{username}}">
            </label>
            <br>
            <br>
            <label> Password:
                <input type="password" name="password">
            </label>
            <br>
            <br>
            <label> E-mail: (Optional)
                <input type="text" name="email" value={{email}}>
            </label>
            <br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>
