{% extends "sidebase.html" %}

{% block content %}
    <h1>About</h1>

    <br>

    <h2>Description</h2>

    <p style="font-family:courier">An Ordinary Day is a game created by Audrey Kintisch, Garcia Lu, Krystal Kim, and Ethan Foster for MIT's 2016 Hackathon. The game is based on allowing the player to follow paths created by other users, or allowing the player to create a new one for themself.</p>

    <br>

    <h2>How to Play</h2>

    <p style="font-family:courier">You are walking along a path.  At every intersection, you must decide whether you will follow in others' footsteps or venture off of the trail.
        In order to trailblaze, however, you must first have an idea of where you are going.
        You must determine the location of the next intersection, any items found or used, and what happens along the trail.
        <br>
        Once you have created a path, it will be available as an action for others to take.
        If they so chose, they can create paths that branch off of yours, as you can do theirs'.
        <br>
        Please be respectful of the trails: don't target others, curse, reveal personal information, or spam.
    </p>

{% endblock %}