{% extends "sidebase.html" %}
  {% block style %}
    body {
    	text-align: left;
    	padding: 0;
    	margin: 40;

        font-family: "Lucida Console", Monaco, monospace;
        color: black;
    }

    #contact {
      font-size: 60;
    }

    p.creators {
      font-weight: bold;
    }
{% endblock %}

{% block content %}
    <h1 id="contact">Contact</h1>
  <br>
     <p class="creators">
     Creators:</p>
  <br>
     <p>Audrey Kintisch:  akintisch16@nmhschool.org</p>
  <br>
     <p>Garcia (Hung-Wei) Lu:  hlu19@nmhschool.org</p>
  <br>
     <p>Ethan Foster:  efoster18@nmhschool.org</p>
  <br>
     <p>Krystal (Soo Jung) Kim:  skim18@nmhschool.org</p>

{% endblock %}