{% extends "base.html" %}
{% block content %}

<h1 id="feedback" class="title">Feedback</h1>
<p id="exp" style="font-family: courier">Tell us about your experience.</p>

<br>

<form method="post" id="feedback-form">
    <p>Your Email:</p>
    <input type="text" name="email" class="input"/>
    <br>
    <br>
    <p>Comments or Questions? </p>
    <textarea maxlength="2000" rows="20" cols="100" name="feedback" placeholder="Enter text here" class="textarea"></textarea>
    <br>
    <br>
    <button class="submitbutton">Submit</button>
</form>

{% endblock %}