{% extends "buttonbase.html" %}

{% block content %}
<h1> Walk Your Own Path </h1>
<br>
<p> {{ error }} </p>
<form method="post">
    <br>
    <input type="text" class="input" name="location"
           placeholder="Location"/>
    <br>
    <br>
    <input type="text" class="input" name="item_needed"
           placeholder="Item Used">
    <br>
    <br>
    <input type="text" class="input" name="item_found"
           placeholder="Item Found">
    <br>
    <br>
    <input type="text" class="input" name="action"
           placeholder="Action">
    <br>
    <br>
    Pick a background color for your path: <input type="color" class="input" name="bgcolor">
    <br>
    <br>
    Pick the text color for your path: <input type="color" class="input" name="text_color">
    <br>
    <br>
    <textarea rows="20" cols="100" name="content" class="textarea"></textarea>
    <br>
    <input type="submit" class="submitbutton"
           value="Post"/>
</form>
{% endblock %}